*{
    margin: 0;
    padding: 0;
    border: border-box;
}
.navbar{
    height: 70px;
    color: white;
    background-color: #0f1111;
    display: flex;
}
.nav_logo{
    height: 70px;
    width: 113px;
}
#logo{
    height: 70px;
    width: 100%;
    background-image: url("amazon_logo.png");
    background-size: cover;
    margin-left: 2px;
    
}
.nav_logo:hover{
    border-color: white;
}
/* .location_logo{
    height: 180px;
    width: 150px;
    font-size: 400%;
    background-color: black;

  
} */
/* .input{
    position: absolute;
    top: 20px;
    left: 160px;
    /* font-size: x-large;} */
   
    
/* #searchbar{
    position: absolute;
    top: 16px;
    left: 160px;
    height: 33px;
    width: 800px;
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
    border-top-right-radius:0px ;
    border-bottom-right-radius: 0px;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

} */
#location{
  font-size: 18px;
  position: relative;
  left: 24px;
  top: 29px;
}
.deliver{
    color: hsl(0, 0%, 100% ,0.8);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    position: relative;
    left: 28px;
    top: 18px;

}
.india{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    position: relative;
   
    right: 26px;
    top: 32px;

}
#select{
    height: 45px;
    width: 51px;
    /* color: #f3f3f300; */
    color: rgba(29, 26, 26,0.8 );
    background-color: #f3f3f3 ;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right:2px solid  #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 11px;
    left: 5px;
    outline: 0px;


}
#select:hover{
    background-color:#f3f3f3eb;
    border-right:1px solid  #f3f3f3eb;
}
#select:active{
    /* border-color:  orange 10px; */
    border: 2px solid orange;
}
option{
    font-family: Arial, Helvetica, sans-serif;
}
#searchbar{
    width: 530px;
    height: 42px;
    position: relative;
    top: 12px;
    left: 5px;
    outline: 0px;
    border: 1px solid white;
    font-size: large;
    
}
#searchbar:active{
    /* border-color:  orange 10px; */
    border: 2px solid orange;
}
#magnify_glass{
    background-color: #eea15efa;
    position: relative;
    top: 12px;
    left: 5px;
    height: 43px;
    width: 51px;
    outline: 0px;
    border: 1px solid #eea15efa;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center; 
    align-items: center;
    
}
#magnify_glass:hover{
    background-color: #d9873ffa ;
}
#magnify_glass:active{
    /* border-color:  orange 10px; */
    border: 2px solid orange;
}
#language{
    background-color:  #0f1111;
    color: white;
    height: 30px;
    width: 42px;
    position: relative;
    left: 40px;
    top: 20px;
    border:  #0f1111;
}




